:root {
    --main-green: #08B931;
    --main-red: #E61E34;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons {
    width: 250px;
    height: 78px;
    border: none;
    border-radius: 6px;
}
.mainWrapper {
    max-width: 1170px;
    width: 100%;
    display: flex;
}
.colored {
    color: var(--main-green);
}
h3 {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    text-transform: uppercase;
    color: #323232;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header .mainWrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.headerContainer {
    width: 100%;
    min-height: 166px;
    display: flex;
    align-items: center;
}
.headerTopBottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.headerTop {
    width: 100%;
    min-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 25px;
}
.headerTop .city {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 24px;
}
.headerBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.headerText {
    margin-left: 22px;
    color: #323232;
}
header .signInInput {
    height: 44px;
    width: 297px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    padding-left: 25px;
    background: url("./img/search.svg") no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: auto 60%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #616161;
}
header .requestCall {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}
header .requestCall .number span {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
    letter-spacing: 1.1px;
}
header .number {
    display: flex;
    justify-content: center;
    gap: 10px;
}
header .phoneLink {
    color: var(--main-green);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    text-decoration-line: underline;
}
.headerNavBar {
    width: 100%;
    min-height: 76px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--main-green);
}
.headerNavBar nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}
.selectedLi {
    color: #186329;
}
.mainSection {
    width: 100%;
    min-height: 539px;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/mainImage.jpg");
    background-size: cover;
    color: #fff;
}
.mainSection .mainWrapper {
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.mainSection h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
}
.mainSection span {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
}
.mainSection .buttons {
    background-color: var(--main-red);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.factsSection {
    margin-top: 92px;
}
.factsSection .mainWrapper {
    justify-content: center;
}
.factsSection .containerLeft {
    display: flex;
    flex-direction: column;
    background: url("./img/greenLine.png") no-repeat;
    background-position-y: 33%;
}
.factsSection .containerLeft p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #323232;
    margin-top: 92px;
}
.factsSection .containerLeft .leftContainerList {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-right: 40px;
}
.factsSection .lefContainerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.factsSection .lefContainerItem span {
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.customerChoiseSection {
    min-height: 756px;
    background-color: #202020;
}
.customerChoiseSection .mainWrapper {
    flex-direction: column;
    background: url("./img/greenLine.png") no-repeat;
    background-position-y: 24%;
}
.customerChoiseSection h3 {
    margin-top: 78px;
    color: #fff;
}
.customerChoiseSection .motoList {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.customerChoiseSection .motoListItem {
    margin-top: 30px;
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customerChoiseSection .motoListItem .itemImage {
    margin-top: 15px;
}
.customerChoiseSection .motoListItem:hover .itemImage {
    filter: brightness(50%);
}
.customerChoiseSection .motoListItem:hover .buttons {
    display: flex !important;
}
.customerChoiseSection .motoListItem span {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.customerChoiseSection .buttons {
    position: absolute;
    display: none !important;
    width: 183px;
    height: 57px;
    background-color: var(--main-green);
    border-radius: 5px;
    box-shadow: 0px 4px 14.7225px #146627, 0px 2px 0px #064314;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 40%;
}
.benefitsSection {
    min-height: 558px;
    background: url("./img/benefitsMainImage.png") no-repeat;
    background-size: cover;
    margin-top: -30px;
}
.benefitsSection .mainWrapper {
    flex-direction: column;
    align-items: center;
}
.benefitsSection h3 {
    color: #fff;
}
.benefitsSection p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: 50px;
}
.benefitsSection .buttons {
    width: 217px;
    height: 57px;
    background-color: var(--main-red);
    margin-top: 25px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 2px 0px #AD1B2B;
    border-radius: 4.41676px;
}
.benefitsSection .topContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: 163px;
}
.benefitsSection .bottomContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.benefitsSection .benefitsList {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.benefitsSection .benefitsListItem {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefitsSection .benefitsListItem span {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #323232;
    margin-top: 10px;
}
.aboutUsSection {
    margin-top: 110px;
}
.aboutUsSection .mainWrapper {
    justify-content: space-between;
}
.aboutUsSection .leftContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.aboutUsSection .leftContainer p {
    margin-top: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
}