:root {
    --main-green: #08B931;
    --main-red: #E61E34;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons {
    width: 250px;
    height: 78px;
    border: none;
    border-radius: 6px;
}
.mainWrapper {
    max-width: 1170px;
    width: 100%;
    display: flex;
}
.colored {
    color: var(--main-green);
}
h3 {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    text-transform: uppercase;
    color: #323232;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header .mainWrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.headerContainer {
    width: 100%;
    min-height: 166px;
    display: flex;
    align-items: center;
}
.headerTopBottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.headerTop {
    width: 100%;
    min-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 25px;
}
.headerTop .city {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 24px;
}
.headerBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.headerText {
    margin-left: 22px;
    color: #323232;
}
header .signInInput {
    height: 44px;
    width: 297px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    padding-left: 25px;
    background: url("./img/search.svg") no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: auto 60%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #616161;
}
header .requestCall {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}
header .requestCall .number span {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
    letter-spacing: 1.1px;
}
header .number {
    display: flex;
    justify-content: center;
    gap: 10px;
}
header .phoneLink {
    color: var(--main-green);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    text-decoration-line: underline;
}
.headerNavBar {
    width: 100%;
    min-height: 76px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--main-green);
}
.headerNavBar nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.headerNavBar a {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
.selected {
    color: #186329 !important;
}
.mainSection {
    width: 100%;
    min-height: 539px;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/mainImage.jpg");
    background-size: cover;
    color: #fff;
}
.mainSection .mainWrapper {
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.mainSection h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
}
.mainSection span {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
}
.mainSection .buttons {
    background-color: var(--main-red);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.factsSection {
    margin-top: 92px;
}
.factsSection .mainWrapper {
    justify-content: center;
}
.factsSection .containerLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: url("./img/greenLine.png") no-repeat;
    background-position-y: 33%;
}
.factsSection .containerLeft p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #323232;
    margin-top: 92px;
}
.factsSection .containerRight img {
    width: 100%;
}
.factsSection .containerLeft .leftContainerList {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-right: 40px;
}
.factsSection .lefContainerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.factsSection .lefContainerItem span {
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.customerChoiseSection {
    min-height: 756px;
    background-color: #202020;
}
.customerChoiseSection .mainWrapper {
    flex-direction: column;
    background: url("./img/greenLine.png") no-repeat;
    background-position-y: 24%;
}
.customerChoiseSection h3 {
    margin-top: 78px;
    color: #fff;
}
.customerChoiseSection .motoList {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.customerChoiseSection .motoListItem {
    margin-top: 30px;
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customerChoiseSection .motoListItem .itemImage {
    margin-top: 15px;
}
.customerChoiseSection .motoListItem:hover .itemImage {
    filter: brightness(50%);
}
.customerChoiseSection .motoListItem:hover .buttons {
    display: flex !important;
}
.customerChoiseSection .motoListItem span {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.customerChoiseSection .buttons {
    position: absolute;
    display: none !important;
    width: 183px;
    height: 57px;
    background-color: var(--main-green);
    border-radius: 5px;
    box-shadow: 0px 4px 14.7225px #146627, 0px 2px 0px #064314;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 40%;
}
.benefitsSection {
    min-height: 558px;
    background: url("./img/benefitsMainImage.png") no-repeat;
    background-size: cover;
    margin-top: -30px;
}
.benefitsSection .mainWrapper {
    flex-direction: column;
    align-items: center;
}
.benefitsSection h3 {
    color: #fff;
}
.benefitsSection p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: 50px;
}
.benefitsSection .buttons {
    width: 217px;
    height: 57px;
    background-color: var(--main-red);
    margin-top: 25px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 2px 0px #AD1B2B;
    border-radius: 4.41676px;
}
.benefitsSection .topContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: 163px;
}
.benefitsSection .bottomContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.benefitsSection .benefitsList {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.benefitsSection .benefitsListItem {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefitsSection .benefitsListItem span {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #323232;
    margin-top: 10px;
}
.aboutUsSection {
    margin-top: 110px;
}
.aboutUsSection .mainWrapper {
    justify-content: space-between;
}
.aboutUsSection .leftContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url("./img/greenLine.png") no-repeat;
    background-position-y: 48%;
}
.aboutUsSection .leftContainer p {
    margin-top: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
}
.aboutUsSection .rightContainer {
    width: 50%;
    display: flex;
    justify-content: center;
}
.aboutUsSection .rightContainer .aboutUsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aboutUsSection .rightContainer .aboutUsListItem {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.aboutUsSection .aboutUsListItem .number {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-green);
}
.aboutUsSection .aboutUsListItem .desc {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #323232;
}
.newsSection {
    margin-top: 100px;
    min-height: 661px;
    background-color: #202020;
}
.newsSection .mainWrapper {
    flex-direction: column;
    align-items: flex-start;
    background: url("./img/greenLine.png") no-repeat;
    background-position-y: 15%;
}
.newsSection h3 {
    margin-top: 43px;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.newsSection .newsItems {
    margin-top: 67px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.newsSection .newsItem {
    background-color: #fff;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.newsSection .newsItem .newsImage {
    width: 100%;
}
.newsSection .newsTitle {
    width: 100%;
    display: flex;
    justify-content: center;
}
.newsSection .date {
    background-color: #5f5f5f;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    height: 66px;
    width: 100px;
    padding: 24px 17px 0 17px;
}
.newsSection .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #323232;
    padding: 15px 0 0 12px;
}
.newsSection .newsDesc {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #323232;
    margin-top: 22px;
    padding-left: 35px;
}
.newsSection .buttons {
    background-color: var(--main-red);
    box-shadow: 0px 2px 0px #AD1B2B;
    border-radius: 4.41676px;
    width: 149px;
    height: 57px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    margin-left: 35px;
    margin-bottom: 36px;
    gap: 10px;
}
.individualSection {
    min-height: 450px;
    background-image: url("./img/individualBackgroundImage.png");
    margin-top: -30px;
}
.individualSection .mainWrapper {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 75px;
    padding-left: 161px;
}
.individualSection h3 {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.individualSection span {
    margin-top: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}
.individualSection .buttons {
    margin-top: 20px;
    width: 217px;
    height: 57px;
    background-color: var(--main-red);
    box-shadow: 0px 2px 0px #AD1B2B;
    border-radius: 4.41676px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.mapSection {
    margin-top: 28px;
}
.mapSection img {
    width: 100%;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .mainWrapper {
    flex-direction: column;
    align-items: center;
}
footer .footerTop {
    margin-top: 57px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3E3E3;
}
footer .footerTop .leftContainer {
    width: 50%;
    display: flex;
}
footer .footerTop .lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .footerTop .list span {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #323232;
}
footer ul {
    list-style-type: none;
}
footer .footerTop .list a {
    font-weight: 400;
    font-size: 14px;
    line-height: 270%;
    color: #323232;
    text-decoration: none;
}
footer .footerTop .list a:checked {
    text-decoration: underline;
}
footer .footerTop .footerInput {
    height: 44px;
    width: 297px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    padding-left: 25px;
    background: url("./img/search.svg") no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: auto 60%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #616161;  
}
footer .footerBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .footerBottom .coopyright {
    margin: auto 0;
}
footer .footerCompanyLogo {
    display: flex;
    justify-content: center;
    padding: 24px 14px;
}
footer .footerCompanyLogo .footerLink a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer .footerCompanyLogo .footerLink span {
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #4f4f4f;
}
footer .footerCompanyLogo .footerLink span:first-child {
    font-weight: 800;
}
footer .footerCompanyLogo .footerLink span:nth-child(2) {
    font-weight: 500;
}
footer .footerCompanyLogo .footerLogoText a {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer .footerCompanyLogo .footerLogoText span {
    padding-left: 10px;
    border-left: 1px solid #1B1B1B50;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #4f4f4f;
}
footer .footerCompanyLogo a {
    text-decoration: none;
}
footer .footerCompanyLogo img {
    padding-right: 20px;
}
